#bg
{
  background-color: blueviolet;    
}
#one
{
   display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width:100%;
    background-color:orange;
    font-size: 23px;
}
#two
{
    top: 20%;
    align-items: center;
    justify-content: center;
    height: 600px;
    width:25%;
    background-color:limegreen;    
    float: left;  
}
#three
{
    top: 20%;
    align-items: center;
    justify-content: center;
    height: 600px;
    width:50%;
    background-color:white;
    float: left;
}
#four
{
    top: 20%;
    align-items: center;
    justify-content: center;
    height: 600px;
    width:25%;
    background-color:skyblue;
    float: left;
}

#five
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width:100%;   
    background-color:yellow;
    font-size: 23px;
}
a:visited 
{
    color: black;
}
a:hover 
{
    color: red;
}  
a:active 
{
    color: yellow;
}
#r
{
    clear:both
}
#c
{
    width: 50%;
    float: left;
}
#list
{
    display: none;
}
#list:target
{
    display: block;
}
#table
{
    display: none;
}
#table:target
{
    display: block;
}
#hotspot
{
    display: none;
}
#hotspot:target
{
    display: block;
}
#audio
{
    text-align :center;
    display: none;
}
#audio:target
{
    display: block;
}
#video
{
    display: none;
}
#video:target
{
    display: block;
}
#mercury
{
    display: none;
}
#mercury:target
{
    display: block;
}
#lit
{
    display: none;
}
#lit:target
{
    display: block;
}
#olt
{
    display: none;
}
#olt:target
{
    display: block;
}
#ult
{
    display: none;
}
#ult:target
{
    display: block;
}
#dlt
{
    display: none;
}
#dlt:target
{
    display: block;
}
#dtt
{
    display: none;
}
#dtt:target
{
    display: block;
}
#ddt
{
    display: none;
}
#ddt:target
{
    display: block;
}
